.countdown_box {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 433px;
}

@media screen and (max-width:768px){
    .countdown_box{
        display:none;
    }
}

.message-item {
    margin-bottom: 25px;
    margin-left: 40px;
    position: relative;
}
.message-item .message-inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}
.message-item .message-inner:before {
    border-right: 10px solid #ddd;
    border-style: solid;
    border-width: 10px;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -20px;
    top: 6px;
    width: 0;
}
.message-item .message-inner:after {
    border-right: 10px solid #fff;
    border-style: solid;
    border-width: 10px;
    color: rgba(0,0,0,0);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    left: -18px;
    top: 6px;
    width: 0;
}
.message-item:before {
    background: #fff;
    border-radius: 2px;
    bottom: -30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    content: "";
    height: 100%;
    left: -30px;
    position: absolute;
    width: 3px;
}
.message-item:after {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    content: "";
    height: 15px;
    left: -36px;
    position: absolute;
    top: 10px;
    width: 15px;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.message-item .message-head {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.message-item .message-head .avatar {
    margin-right: 20px;
}
.message-item .message-head .user-detail {
    overflow: hidden;
}
.message-item .message-head .user-detail h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.message-item .message-head .post-meta {
    float: left;
    padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
}
.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}
.message-item .message-head .post-meta >div {
    color: #333;
    font-weight: bold;
    text-align: right;
}
.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}
.avatar img {
    min-height: 40px;
    max-height: 40px;
}

.options_icon {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
}

.options_icon span {
    display: block;
    width: 14px;
    cursor: pointer;
    height: 15px;
}

.options_icon li {
    font-size: 12px;
}

.options_icon:hover ul {
    display: block;
}

.options_icon ul {
    margin: 0;
    padding: 0;
    display: none;
}

.options_icon li {
    list-style: none;
    text-align: right;
    padding: 3px;
}

.options_icon li:hover {
    background: #E8E8E8;
}

.options_icon {
    background: url(img/icon_more2.gif) no-repeat top right;
}

.image-link img {
    /*min-width: 108px;*/
    /*max-height: 108px; */
    /*padding: 1px;*/
    /*border: 1px solid #ccc;*/
    /*margin: 2px;*/
    /*border-radius: 4px;*/
}




/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#E81B1B ;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle a {
    background-color: #D3D3D3;
}

.text-center.ele_timeline {
}

.text-center.ele_timeline img {
    width: 100%;
}

.toggle_selector {
    display: none;
}

img.img_timeline {
    /* height: auto !important; */
}

.row div {
}

.image-link {
    height: 120px;
    overflow: hidden;
}

/* ////////////////// */

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}

/* ////////////////// */

.hide_box {position: absolute;top: 5px;left: 20px;display: none;z-index: 10;}


.box-comment input {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.box-comment li {
    list-style: none;
    margin: 0;
    padding: 6px;
    position:relative;
    border-bottom: 1px solid #E6E6E6;
}

.box-comment ul {
    margin: 0;
    padding: 0;
}

.input-c,.button-c {
    float: left;
}

.row-tail:after {
    content: " ";
    clear: both;
}

.row-tail:after {
    content: " ";
    clear: both;
    width: 100%;
    height: 1px;
}

.row-tail {
    width: 100% !important;
}

.input-c {
    width: 85%;
}

.button-c {
    width: 13%;
    text-align: center;
}

.button-c button {
    height: 29px;
    padding: 0;
    margin-left: 10px;
}
span.del-c {
    position: absolute;
    right: 0;
    top: 3PX;
    cursor: pointer;
}

.ele_comment > div {
    float: left;
}

li.ele_comment:after {
    content: " ";
    clear: both;
    display: block;
}

.ele_comment .avatar {
    padding-right: 10px;
}

.ele_comment small {
    font-size: 9px;
}

.ele_comment p {
    line-height: auto !important;
    padding: 0;
    margin: 0;
}

.popup_home {
    position: fixed;
    z-index: 4;
}


.popup_home_mark {
    display: block;
    position: fixed;
    background: rgba(43, 42, 42, 0.67);
    height: 100%;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
}

.countdown_box {
    position: fixed;
    bottom: -273px;
    right: 0;
    z-index: 4;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 433px;
    height:328px;
}
.countdown_box:hover{
    bottom: 0px;
}
@media screen and (max-width:1000px){
    .countdown_box{
        /*display:none;*/
        bottom: -300px;
        width:100%;
    }
}
.countdown_box > header {
    background: url(/asset/data/count_down.jpg) no-repeat center center;
    height: 44px;
}
.countdown_box:hover > header {
    background: white;
    height: 0px;
}

#modal-id-popup .modal-body img {
    width:100%;
}

#modal-id-browser .modal-body .thumbnail img{
    cursor: pointer;
}
.style_content_popup{
    text-align: center;
    font-weight: 15px;
}
.qa-message-content img[src*='file_upload/media'],.qa-message-content img[src*='asset/uploads/']{
    max-width:100%;
}


.change_banner {
    position: absolute;
    display: none;
}
.custom_banner:hover .change_banner{
    display:block;
}
.list-media .thumbnail {
    width: 117px;
    height: 117px;
    padding: 3px !important;
    display: block !important;
}

#gird_date .week {
    float: left;
    margin: 15px 0;
    width: 11px;
}
#gird_date .date {
    float: left;
    width: 8px;
    height: 8px;
    background: #f5f5f5;
    MARGIN: 1PX;
}
#gird_date .date.has {
    background: #95aae6;
}
#gird_date .no_show {
    background: none !important;
}
#gird_date .date.has_1 {
    background: #abcbe6;
}
#gird_date .date.has_2 {
    background: #7aa0e6;
}
#gird_date .date.has_3 {
    background: #0090fb;
}
#gird_date .date.has_4 {
    background: #0004e6;
}
#gird_date .date:hover{
    opacity: 0.8;
}
.modal-body img {
    max-width: 100%;
}
.status_important {
    background: #ff7b7b !important;
}
.kyniem_important div {
    background: #ffe6ed !important;
}

/**
 * Load animate date wrote blog
 *
 * # https://github.com/vihoangson/Family/issues/19
 */
.cover_date{
    background:gray !important;
}

.custom-file-upload {
    /*position: relative;*/
    /*top: 150px;*/
    /*font-family: calibri;*/
    /*width: 150px;*/
    /*padding: 10px;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border: 1px dashed #BBB;*/
    /*text-align: center;*/
    /*background-color: #DDD;*/
    /*cursor:pointer;*/
}

.left_narrow,.right_narrow {
    background: #eaeaea;
    width: 14px;
    height: 57px;
    position: absolute;
    top: 20px;
}
.left_narrow {
    left: 0px;
}
.right_narrow {
    right: 10px;
}

div#loading_box {
    position: fixed;
    background: #e8e8e8;
    height: 31px;
    width: 100px;
    top: 0;
    left: 0px;
}